<div class="blog-masthead" style="padding:5px">
    <div class="container" [ngClass]="{'wide': useWideContainer}">
      <nav class="blog-nav">
        <a [routerLink]='["/"]' class="blog-nav-item" [routerLinkActive]='["active"]' [routerLinkActiveOptions]='{ exact: true }'>
            <span class='glyphicon glyphicon-home'></span> Posts
        </a>
        <a [routerLink]='["/newpost"]' class="blog-nav-item" [routerLinkActive]='["active"]'>
            <span class='glyphicon glyphicon-education'></span> New post
        </a>      
        <!--span style="float:right" class="g-signin2" data-onsuccess="onSignIn"></span-->
      </nav>
    </div>
  </div>